<!DOCTYPE html>
<html>
  <head>
    <title>InLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="InLink" />
    <meta property='og:image' content="<%= image_url('inlink_feature.PNG')%>"/>
    <meta property="og:description" content="A LinkedIn clone built on Ruby on Rails, React/Redux and PostgreSQL."/>
    <meta property="og:url" content="http://inlink.herokuapp.com/"/>

    <% if current_user %>
      <script>
        window.currentUser = <%= render(
          '/api/users/user.json.jbuilder',
          user: current_user
        ).html_safe %>
      </script>
    <% end %>
    <script>
      window.splashImg = '<%= image_url('splashImg.png')%>';
      window.fullLogo = '<%= image_url('InLink_full_logo.png')%>'
      window.iconLogo = '<%= image_url('InLink_icon_logo.png')%>'
      window.defaultUser = '<%= image_url('default_user.png')%>'
      window.defaultBg = '<%= image_url('default_background.jpg')%>'
      window.daniel = '<%= image_url('daniel.jpg')%>'
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
